{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    // unit tests
    "jest/no-disabled-tests": "error",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "warn",

    // best practices
    "valid-jsdoc": ["warn", {
      "requireReturn": false,
      "requireParamDescription": false,
      "requireReturnDescription": false,
      "prefer": {
        "returns": "return",
        "params": "param"
      }
    }],
    "complexity": ["warn", 7],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],

    // style
    "arrow-body-style": "off",
    "object-curly-newline": ["error", {
        "ObjectExpression": { "consistent": true },
        "ObjectPattern": { "consistent": true }
    }],
    "function-paren-newline": ["error", "consistent"]
  }
}
